*.pt
*.ts
final_project/gan/generated_frames*
notebooks/**/*.jpg
notebooks/media/quick_draw_small.zip
notebooks/week-3/models/01_pytorch_workflow_model_0.pth
notebooks/week-3/models/01_pytorch_workflow_model_1.pth
notebooks/week-7-gan-diffusion/__pycache__/models.cpython-310.pyc
notebooks/week-7-gan-diffusion/__pycache__/utils.cpython-310.pyc
notebooks/week-7-gan-diffusion/img_align_celeba_50k.zip
final_project/gan/__pycache__/models.cpython-39.pyc
final_project/gan/__pycache__/utils.cpython-39.pyc
final_project/rave/runs/birdsong_e5ef914ed9/version_0/checkpoints/best.ckpt
final_project/rave/runs/birdsong_e5ef914ed9/version_0/checkpoints/epoch_100000.ckpt
final_project/rave/runs/birdsong_e5ef914ed9/version_0/events.out.tfevents.1750102682.W-D0555.12860.0
final_project/rave/runs/birdsong_e5ef914ed9/version_0/hparams.yaml
final_project/rave/runs/birdsong_e5ef914ed9/version_1/events.out.tfevents.1750149987.W-D0555.23300.0
final_project/rave/runs/birdsong_e5ef914ed9/version_1/hparams.yaml
final_project/rave/runs/birdsong_e5ef914ed9/version_1/checkpoints/best.ckpt
final_project/rave/runs/birdsong_e5ef914ed9/version_1/checkpoints/epoch_100000.ckpt
final_project/rave/runs/birdsong_e5ef914ed9/version_1/checkpoints/epoch_200000.ckpt
final_project/rave/runs/birdsong_e5ef914ed9/version_1/checkpoints/epoch_300000.ckpt
final_project/rave/runs/birdsong_e5ef914ed9/version_1/checkpoints/epoch_400000.ckpt
final_project/rave/runs/birdsong_e5ef914ed9/version_2/events.out.tfevents.1750238338.W-D0555.26388.0
final_project/rave/runs/birdsong_e5ef914ed9/version_2/hparams.yaml
final_project/rave/runs/birdsong_e5ef914ed9/version_2/checkpoints/best.ckpt
final_project/rave/runs/birdsong_e5ef914ed9/version_2/checkpoints/epoch-epoch=1385.ckpt
