acids-rave
numpy
torch
torchvision
torchaudio
opencv-python
transformers
matplotlib
datasets 
jupyter
pandas
tiktoken 
wandb 
tqdm
Pillow
imageio
regex
sounddevice
librosa
gdown
gallery-dl
ultralytics
scikit-learn
scikit-image
wget